#about {
  /* border-radius: 10px;
  background: #214dad;
  padding: 20px; */

  /* border-right: 1px solid black;
  line-height: 2.0; */
  height: 100vh;
  background: rgb(20, 20, 20);
  color: rgb(192, 192, 192);
}

h1, h2, h3, h4, h5, h6, p, nav {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* #home-page {
  width: 100%;
} */


#article {
  border-bottom: 1px solid gray;
}
